#thead{
    background-color: yellowgreen; 
    -webkit-text-fill-color:whitesmoke;
}
#btnbuscar{
    width: 100px;
    height: 37px;
}
#name{
    width: 350px;
}
#container{
    margin-top: 95px; 
}
#btnAddArtwork{
    
    background-color:#7C7CE0;
}