<div style="display: flex; justify-content: left; margin-left: 40px;">
  <div class="col-md-8 container">
    <h2>Gestión de Artistas</h2>
    <form class="form-inline my-2 my-lg-3" id="buscador">
      <input [(ngModel)]="document" name="document_" class="form-control" placeholder="Documento" id="document">
      <button class="btn btn-success my-2 my-sm-0 fas fa-search " id="btnbuscar" type="submit" (click)="findByDocument()"></button>
    </form>

    <table class="table">
      <thead id="thead">
        <tr>
          <th class="hidden">Documento</th>
          <th>Nombre</th>
          <th>Celular</th>
          <th>Direccion</th>
          <th>Ciudad</th>
          <th>Exposicion</th>
          <th>  <button class="float-right btn btn-success" (click)="mostrarComponente()" id="btnAddArtist"> 
              Añadir Artista <i class="fas fa-plus"></i></button>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let artist of artists">
          <td class="hidden">{{artist.document}}</td>
          <td>{{artist.name}}</td>
          <td>{{artist.cellphone}}</td>
          <td>{{artist.address}}</td>
          <td>{{artist.city}}</td>
          <td>{{artist.exhibitions}}</td>
          <td>
              <div class="float-center" (click)="deleteArtist(artist)">
                <i class="far fa-trash-alt" style="align-content: center;"></i>
              </div>
            </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="mx-5 mt-15" *ngIf="show" id="container">
    <form>
      <div class="row">
        <div class="form-group">
          <label>Documento</label>
          <input [(ngModel)]="artist1.document" name="document" class="form-control" id="doc" placeholder="Documento">
        </div>
        <div class="form-group">
          <label>Nombre</label>
          <input [(ngModel)]="artist1.name" name="name" class="form-control" placeholder="Nombre">
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label>Teléfono</label>
          <input [(ngModel)]="artist1.cellphone" name="cellphone" class="form-control" placeholder="Telefono">
        </div>
        <div class="form-group">
          <label>Direccion</label>
          <input [(ngModel)]="artist1.address" name="address" class="form-control" placeholder="Direccion">
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label>Ciudad</label>
          <input [(ngModel)]="artist1.city" name="city" class="form-control" placeholder="Ciudad">
        </div>
        <div class="form-group">
          <label>Exposiciones en las que ha participado</label>
          <input type="text" [(ngModel)]="artist1.exhibitions" name="exhibitions" class="form-control"
            placeholder="Exposiciones">
        </div>
      </div>
      <div class="row">
        <button type="submit" class="btn btn-primary" (click)="createArtist(artist1)">Guardar artista</button>
      </div>
    </form>
  </div>
</div>